<nav class="navbar">
  <div class="navbar-left">
    <a routerLink="/"><h1>Bid Master</h1></a>
  </div>
  <div class="navbar-right">
    <ng-container *ngIf="!isLoggedIn; else loggedInBlock">
      <a routerLink="/register"><button>Register</button></a>
      <a routerLink="/login"><button>Login</button></a>
    </ng-container>
    <ng-template #loggedInBlock>
      <button (click)="logout()">Logout</button>
    </ng-template>
  </div>
</nav>
 
<div class="welcome-message" *ngIf="userName">
  👋 Welcome, {{ userName }}!
</div>
 
<div class="main-content">
  <router-outlet></router-outlet>
</div>
 
<footer>
  <p>&copy; 2025 Bid Master. All rights reserved.</p>
</footer>
 